# {{ ansible_managed }}

# Basic Source and Destination configuration
SOURCE="{{ item.directories|join(' ') }}"
DESTINATION="{{ item.destination }}"
# Script configuration. Name is self referential
LOG_DIRECTORY="{{ item.dupwrap_log_prefix|default(dupwrap_log_prefix) }}"
NAME="{{item.name}}"
# Hooks!
PRE_SCRIPT="{{ item.pre_script|default('') }}"
POST_SCRIPT="{{ item.post_script|default('') }}"
# Backup rotation
KEEP_N_FULL="{{ item.n_full|default(dupwrap_n_full) }}"
REMOVE_OLDER="{{ item.n_full|default(dupwrap_remove_older) }}"
FULL_IF_OLDER="{{ item.n_full|default(dupwrap_full_older) }}"
# GPG Passphrase
PASSPHRASE="{{ item.passphrase|default(dupwrap_passphrase) }}"
{% if item.metrics|default(False) -%}
# Metrics to StatsD
STATSD_HOST="{{item.statsd_host|default(dupwrap_statsd_host)}}"
STATSD_PORT="{{item.statsd_port|default(dupwrap_statsd_port)}}"
STATSD_PROTO="{{item.statsd_proto|default(dupwrap_statsd_proto)}}"
{% endif -%}
{% if item.cache_dir|default(dupwrap_cache_dir)|default('') != '' -%}
# Do not use the default duplicity cache
ARCHIVE_DIR="{{item.cache_dir|default(dupwrap_cache_dir)}}"
{% endif -%}
{% if item.destination == 's3' -%}
# S3 configuration
{% if item.aws_access_key|default(dupwrap_aws_access_key) != '' and
   item.aws_secret_key|default(dupwrap_aws_secret_key) != '' %}
AWS_ACCESS_KEY_ID="{{ item.aws_access_key|default(dupwrap_aws_access_key) }}"
AWS_SECRET_ACCESS_KEY="{{ item.aws_secret_key|default(dupwrap_aws_secret_key) }}"
{% endif %}
BUCKET="{{ item.bucket }}"
{% elif item.destination == 'mac_usb' -%}
# Local Mac configuration
UNENCRYPTED_VOLUME="{{ item.unencrypted_volume|default(dupwrap_unencrypted_volume) }}"
ENCRYPTED_VOLUME="{{ item.encrypted_volume|default(item.name) }}"
VOLUME_SIZE="{{ item.encrypted_volume_size|default(dupwrap_encrypted_volume_size) }}"
{% elif item.destination == 'ftp' -%}
# FTP Configuration
FTP_USER="{{item.ftp_user}}"
FTP_PASSWORD="{{item.ftp_password}}"
FTP_HOST="{{item.ftp_host}}"
FTP_PATH="{{item.ftp_path|default('')}}"
{% endif -%}
# Some backups move beteween hosts
{% if item.wandering|default(False) -%}
WANDERING="yes"
{% endif %}
